In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
from splinter import Browser
import time

In [2]:
url = 'https://mars.nasa.gov/news/'

In [3]:
# Retrieve page with the requests module
html = requests.get(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html.text, 'lxml')

In [5]:
# news_title = soup.find('div', class_='content_title').text
# print(news_title)
# news_p = soup.find('div', class_='image_and_description_container').text
# print(news_p)

# print("title: ", news_title) 
# print("paragraph: ", news_p)

In [6]:
#get the title
container = soup.find('div', class_="content_title")   
news_title = container.a.text
        
               
#get the paragraph description
container = soup.find('div', class_="image_and_description_container")
text_tot = container.find('div', class_= "rollover_description_inner")
news_p = text_tot.text
                 

print("title: ", news_title) 
print("paragraph: ", news_p)

title:
NASA's Curiosity Mars Rover Finds a Clay Cache

paragraph:
The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

In [7]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
jpl_url='https://www.jpl.nasa.gov'

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

#use splinter to get the URL of the image

# HTML object
html = browser.html
    
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [9]:
# # Retrieve the article with the featured image
# article = soup.find('article', class_='carousel_item')

# # Use Beautiful Soup's find() method to navigate and retrieve attributes
# h1 = article.find('h1', class_ = 'media_feature_title').text
# print(h1)        

# # Click the 'Full Image' button 
# browser.click_link_by_partial_text('FULL IMAGE')

In [10]:
browser.click_link_by_id("full_image")

In [11]:
#then click "more info" to get the full size image
time.sleep(2)
browser.click_link_by_partial_text('more info')

In [12]:
#get the html of the new page
# HTML object
html = browser.html
    
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [13]:
img_url = soup.find('img', class_="main_image")['src']
# print(img_url)

# fig_url = figure['src']

# print(fig_url)

In [14]:
featured_image_url = jpl_url + img_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19382_hires.jpg

In [15]:
#Save the tweet text for the weather report as a variable called mars_weather.
url = 'https://twitter.com/marswxreport?lang=en'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [16]:
stream = soup.find('div', class_="tweet")
print(stream)

<div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content original-tweet js-original-tweet has-cards cards-forward " data-card2-type="summary_large_image" data-conversation-id="1136470561855627266" data-disclosure-type="" data-follows-you="false" data-has-cards="true" data-item-id="1136470561855627266" data-name="Mars Weather" data-permalink-path="/MarsWxReport/status/1136470561855627266" data-reply-to-users-json='[{"id_str":"786939553","screen_name":"MarsWxReport","name":"Mars Weather","emojified_name":{"text":"Mars Weather","emojified_text_as_html":"Mars Weather"}}]' data-screen-name="MarsWxReport" data-tweet-id="1136470561855627266" data-tweet-nonce="1136470561855627266-b71b84b0-5c28-41f3-9e68-03961523b6aa" data-tweet-stat-initialized="true" data-user-id="786939553" data-you-block="false" data-you-follow="false">
<div class="context">
</div>
<div class="content">
<div class="stream-item-header">
<a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" data-user-id="786939553" href="/MarsWxReport">
<img alt="" class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/2552209293/220px-Mars_atmosphere_bigger.jpg"/>
<span class="FullNameGroup">
<strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part="">Mars Weather</strong><span>‏</span><span class="UserBadges"></span><span class="UserNameBreak"> </span></span><span class="username u-dir u-textTruncate" data-aria-label-part="" dir="ltr">@<b>MarsWxReport</b></span></a>
<small class="time">
<a class="tweet-timestamp js-permalink js-nav js-tooltip" data-conversation-id="1136470561855627266" href="/MarsWxReport/status/1136470561855627266" title="8:11 PM - 5 Jun 2019"><span aria-hidden="true" class="_timestamp js-short-timestamp js-relative-timestamp" data-long-form="true" data-time="1559790671" data-time-ms="1559790671000">11h</span><span class="u-hiddenVisually" data-aria-label-part="last">11 hours ago</span></a>
</small>
<div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
<div class="dropdown">
<button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
<div class="IconContainer js-tooltip" title="More">
<span class="Icon Icon--caretDownLight Icon--small"></span>
<span class="u-hiddenVisually">More</span>
</div>
</button>
<div class="dropdown-menu is-autoCentered">
<div class="dropdown-caret">
<div class="caret-outer"></div>
<div class="caret-inner"></div>
</div>
<ul>
<li class="copy-link-to-tweet js-actionCopyLinkToTweet">
<button class="dropdown-link" type="button">Copy link to Tweet</button>
</li>
<li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
<button class="dropdown-link" type="button">Embed Tweet</button>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">DYK meteorologists, astronomers and oceanographers helped select June 6, 1944 for its weather, tidal and moonlight conditions to give Allied forces the best opportunity for success. <a class="twitter-hashtag pretty-link js-nav" data-query-source="hashtag_click" dir="ltr" href="/hashtag/DDay75?src=hash"><s>#</s><b>DDay75</b></a><a class="twitter-timeline-link u-hidden" data-expanded-url="https://www.wral.com/full-moon-over-d-day-celestial-sleuth-corrects-historical-record/18434852/" dir="ltr" href="https://t.co/B4LXoKhnt9" rel="nofollow noopener" target="_blank" title="https://www.wral.com/full-moon-over-d-day-celestial-sleuth-corrects-historical-record/18434852/"><span class="tco-ellipsis"></span><span class="invisible">https://www.</span><span class="js-display-url">wral.com/full-moon-over</span><span class="invisible">-d-day-celestial-sleuth-corrects-historical-record/18434852/</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a></p>
</div>
<div class="card2 js-media-container " data-card2-name="summary_large_image">
<div class="js-macaw-cards-iframe-container initial-card-height card-type-summary_large_image" data-amplify-content-id="" data-amplify-playlist-url="" data-card-name="summary_large_image" data-card-url="https://t.co/B4LXoKhnt9" data-creator-id="" data-full-card-iframe-url="/i/cards/tfw/v1/1136470561855627266?cardname=summary_large_image&amp;autoplay_disabled=true&amp;earned=true&amp;edge=true&amp;lang=en" data-has-autoplayable-media="false" data-publisher-id="14956372" data-src="/i/cards/tfw/v1/1136470561855627266?cardname=summary_large_image&amp;autoplay_disabled=true&amp;forward=true&amp;earned=true&amp;edge=true&amp;lang=en">
</div>
</div>
<div class="stream-item-footer">
<div class="ProfileTweet-actionCountList u-hiddenVisually">
<span class="ProfileTweet-action--reply u-hiddenVisually">
<span aria-hidden="true" class="ProfileTweet-actionCount" data-tweet-stat-count="0">
<span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-1136470561855627266">0 replies</span>
</span>
</span>
<span class="ProfileTweet-action--retweet u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="3">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-retweet-count-aria-1136470561855627266">3 retweets</span>
</span>
</span>
<span class="ProfileTweet-action--favorite u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="14">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-favorite-count-aria-1136470561855627266">14 likes</span>
</span>
</span>
</div>
<div aria-label="Tweet actions" class="ProfileTweet-actionList js-actions" role="group">
<div class="ProfileTweet-action ProfileTweet-action--reply">
<button aria-describedby="profile-tweet-action-reply-count-aria-1136470561855627266" class="ProfileTweet-actionButton js-actionButton js-actionReply" data-modal="ProfileTweet-reply" type="button">
<div class="IconContainer js-tooltip" title="Reply">
<span class="Icon Icon--medium Icon--reply"></span>
<span class="u-hiddenVisually">Reply</span>
</div>
<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
<button aria-describedby="profile-tweet-action-retweet-count-aria-1136470561855627266" class="ProfileTweet-actionButton js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweet</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">3</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Undo retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweeted</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">3</span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
<button aria-describedby="profile-tweet-action-favorite-count-aria-1136470561855627266" class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Like</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">14</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Undo like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Liked</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">14</span>
</span>
</button>
</div>
</div>
</div>
</div>
</div>

In [17]:
streams = soup.find_all('div', class_="tweet")
for tweet in streams:
    mars_weather = tweet.find('p').text
    if 'Sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else:
        pass

InSight sol 184 (2019-06-03) low -101.3ºC (-150.4ºF) high -22.1ºC (-7.7ºF)
winds from the W at 4.5 m/s (10.0 mph) gusting to 15.2 m/s (33.9 mph)
pressure at 7.60 hPapic.twitter.com/9e75FL7Fj5

In [18]:
# streams = soup.find_all('div', class_="tweet")
# for tweet in streams:
#     if (tweet['data-screen-name'] == "MarsWxReport"):
#         #save the tweet
#         mars_weather = tweet.find('p', class_="tweet-text").text
#         print(mars_weather) 
#         break
#     else:
#         pass

In [19]:
# mars_weather = stream.find("p", class_="tweet-text").text
# mars_weather = mars_weather.rstrip("pic.twitter.com/X7ISVrTgLY")
# print(mars_weather)

In [20]:
url = 'https://space-facts.com/mars/'
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [21]:
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
facts_df = pd.DataFrame(tables[0])

In [23]:
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
#change the row headers
header = pd.Series(["Type","Value"])
facts_df.rename(columns = header, inplace=True)
facts_df
# facts_df.set_index('Type')

                   Type                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [25]:
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Type</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
#remove new line characters
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Type</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
facts_df.to_html('table.html')
!open table.html

In [28]:
base_url = "https://astrogeology.usgs.gov"
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
# Retrieve page with the requests module
response = requests.get(url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [29]:
hemispheres = soup.find_all('a', class_="itemLink")
print(hemispheres)

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/><div class="description"><h3>Cerberus Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/><div class="description"><h3>Schiaparelli Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/><div class="description"><h3>Syrtis Major Hemisphere Enhanced</h3></div></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/><div class="description"><h3>Valles Marineris Hemisphere Enhanced</h3></div></a>]

In [30]:
hemisphere_image_urls = []

for item in hemispheres:
    
#     try:
        #find title
        title = item.text
#         print(title)
        
        #find link
        link = item['href']
#         print(link)
        
        full_link = base_url + link
#         print(full_link)
        #go to the link to get to the page with the full image 
        response = requests.get(full_link)
        # Create BeautifulSoup object; parse with 'html.parser'
        soup = BeautifulSoup(response.text, 'html.parser')
        
                                  
        #get full image url from href in the <a> in the div class='download'
        high_res = soup.find('div', class_='downloads')

        full_href = high_res.find('a')['href']

#         print("full_href: ", full_href)

        #put title and image URL into dictionary    
        hemisphere_image_urls.append({"title": title, "img_url": full_href})
        
#     except Exception as e:
#         print("e: ",e)
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]